:root {
    --hover-form-color: #e9b370;
    --active-form-color: #e6842b;
    --form-color: #9b6536;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: var(--text);
    color: #f6d28b;
}

nav {
    width: 100%;
    background-color: #fdc045;
    position: sticky;
    top: 0;
}

ul {
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
}

a {
    color: #361b0a94;
    text-decoration-line: none;
}

h1,
h2,
h3 {
    color: #fdc045;
    text-shadow: 0 0 12px rgba(255, 177, 74, 0.15);
}

img {
    border: 2px solid #fdc045;
}

header {
    padding: 2%;
}

section {
    margin: 2%;
    padding: 2%;
    background-color: #361b0a94;
    border-radius: 5px;
}

header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #361b0ac4;
    width: 100%;
}

#special_img {
    height: 50vh;
    width: auto;
    margin: 2%;
}

.special_offer {
    display: flex;
}

.special_text {
    margin-right: 2%;
}

#submit_btn {
    background-color: #f6d28b00;
    border: 0;
    font-size: 2em;
    height: 10vh;
    width: auto;
}

input {
    background-color: #361b0ac4;
    border: 2px solid var(--form-color);
}

fieldset {
    border: 2px solid var(--form-color);
}

fieldset:active {
    border: 2px solid #fd7945;
}

input:hover,
fieldset:hover {
    border: 2px solid var(--hover-form-color);
}

.submit_btn {
    display: flex;
    justify-content: center;
}

input:focus-within,
fieldset:focus-within {
    border: 2px solid #e6842b;
}
